{% extends 'website/base.html' %}

{% block main %}
    <form method=”POST” action="">
        {% csrf_token %}

        {{ form }}

        <input type="submit" value="Send"/>
    </form>
    <!--
    <div class="formContainer">
        <section class="grid">
            <div class="box-left catch-phrase">
                <h1>
                    Got A Project Or A Partnership In Mind? Get In Touch!
                </h1>
            </div>

            <div class="box-right">
                <form method=”POST” action="">
                    {% csrf_token %}

                    {{ form }}

                    <input type="submit" value="Send"/>
                </form>
            </div>
        </section>
    </div>
    -->
{% endblock main %}