{% extends 'website/base.html' %}

{% block header %}
    <h1>Quizz</h1>
{% endblock header %}


{% block main %}
    <h3>
        To play the quizz, click the button below
    </h3>

    <a href="{% url 'website:doquestion' %}" class="btn btn-success">Do the Quizz!!</a>
    <p></p>
    <h3>List of quizz</h3>

    <div class="mainContact">
        {% for question in questions %}
            <p>{{ question.first_name }} {{ question.last_name }}</p>

        {% endfor %}
    </div>
{% endblock main %}