{% extends 'website/base.html' %}

{% block main %}
    <section class="grid">
        <div class="box-left catch-phrase">
            <h1>
                We Are Your Solution For Augmented And Virtual Reality!
            </h1>
        </div>

        <div class="box-right">
            <h1>
                Full-Cycle Production
            </h1>

            <p>
                We provide a full-level production of your game or application. Starting from the concept, we develop
                your product through its alpha and beta
                versions to its first release and beyond!
            </p>

            <h1>
                Prototyping
            </h1>

            <p>
                Do you have any new game or application ideas? We can help you build prototypes based on your
                specifications in a rapid development style, in a
                short time frame, and at a minimal cost.
            </p>

            <h1>
                Game Porting
            </h1>

            <p>
                We have extensive experience with Virtual Reality, we can take your existing game vision and expand it
                to VR.
            </p>
        </div>
    </section>
{% endblock main %}