{%  extends 'users/base.html' %}


{% block main %}
    <div class="title">
        <h1>Login</h1>
    </div>
    <div class="mainContact box-center">
        <form action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <p>
                <label for="id_first_name">Username:</label>
                <input type="text" name="username" placeholder="username">
                <label for="id_first_name">Password:</label><br>
                <input type="password" name="password" placeholder="password"><br>
                <br><input type="submit" value="Login">
            </p>
        </form>
    </div>
{% endblock main%}